# .DS_Store
.DS_Store

# datasets
datasets/*

# results
results/*

# data
expectedUtilityThreeNodes/playground/data
expectedUtilityThreeNodes/playground/image
expected_utility_calculator_three_nodes/data/archive*